<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js - HelloWorld App</title>
    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  <title>Basic Vue Js - HelloWorld App</title>
</head>
<body id="app">
    <p class="text-xl font-bold">Photo({{ calculate }}) </p>
    <p class="text-xl font-bold">Favorite: ({{favCount}})</p>
    <div v-for="(rose,index) in roses" class="flex items-center">
        <img :src="rose.image" :alt="rose.name" class="ml-48 mb-10 h-48 w-48"/>
        <img :src="fav" v-if="rose.isFav" class="w-12 h-12 ml-20"  @click="updateFav(index)">
        <img :src="unfav" v-else class="w-12 h-12 ml-20" @click="updateFav(index)">
    </div>
    
    
    
    
      <!-- my main.js -->

      <script src="./main.js"></script> 
</body>
</html>